html {
    background-color: black;
    color: white;
    text-align: center;
}

#div1 {
    text-align: left;
    margin-top: 100px;
    margin-left: 600px;
}

input {
    margin: 20px;
    width: 80px; 
}

img{
    width: 350px;
}

